/* fonts */
@font-face {
    font-family: "Museo Sans Cyrl";  
    src: url("./fonts/museosanscyrl-900.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 900;
}
@font-face {
    font-family: "Museo Sans Cyrl";  
    src: url("./fonts/museosanscyrl-500.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500;
}
@font-face {
    font-family: "Museo Sans Cyrl";  
    src: url("./fonts/museosanscyrl-700.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700;
}
/* settings styles */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100vh;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    margin: 0;
    background: #FFFFFF;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
li {list-style-type: none;}

/* index page  */

/* support__block */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    min-width: 320px;
    max-width: 1200px;
}
.support__block {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background: url(images/fon1.svg) 0 center no-repeat, #93BBEA
    url(images/fon2.svg) bottom right no-repeat; 
}
.support__title {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}
.support__block_text {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.support__buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.support {
    width: 160px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 12px;
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    color: #1A1A1A;
    background-repeat: no-repeat;
    cursor: pointer;
}
.chat {
    background-image: url('./images/chat.svg');
    background-position: 12% center;
    margin-bottom: 8px;
}
.phone {
    background-image: url('./images/phone.svg');
    background-position: 15% center;
    margin-bottom: 8px;
}
.email {
    background-image: url('./images/email.svg');
    background-position: 26% center;
    margin-bottom: 8px;
}
.feedback {
    background-image: url('./images/feed.svg');
    background-position: 6% center;
}

@media (max-width: 767px) {
    .container {
        margin: 20px;
        max-width: 375px;
    }
    .support__block {
        background: url(images/fon1.svg) 0 0 no-repeat, #93BBEA
        url(images/fon2.svg) bottom right no-repeat; 
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        margin: 20px;
        max-width: 700px;
    }
}
@media (min-width: 768px) {

    .support__buttons {
        flex-direction: row;
    }
    .chat {
        margin-bottom: 0;
    }
    .phone {
        margin-bottom: 0;
        margin-left: 8px;
    }
    .email {
        margin-bottom: 0;
        margin-left: 8px;
    }
    .feedback {
        margin-left: 8px;
        padding-left: 20px;
    }
    .support__title {
        font-size: 60px;
    }
    .support__block_text {
        font-size: 17px;
    }
}

/* social__block */

.social__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
    border-radius: 40px;
    margin-top: 40px;
}
.social__text_block {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.social__text {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #1A1A1A;
}
.social__title {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #1A1A1A;
}
.social {
    width: 44px;
    height: 44px;
    background: #F9F9F9;
    border-radius: 13.3311px;
    margin-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.margin_first {
    margin-left: 0;
}
.margin_last {
    margin-right: 0;
}
.social-icons {
    display: flex;
    margin: 20px; 
}
.vk {
    background-image: url('./images/vk.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.instagram {
    background-image: url('./images/inst.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.tiktok {
    background-image: url('./images/tiktok.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.twitter {
    background-image: url('./images/twitt.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.yandex {
    background-image: url('./images/dzen.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.fb {
    background-image: url('./images/fb.svg');
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 900px) {
    .social__block {
        margin-top: 82px;
        justify-content: space-between;
        margin-left: 51px;
        margin-right: 51px; 
    }
    .social__title {
        font-size: 40px;
    }
    .social-icons {
        margin: 40px;
    }
    .social__text_block {
        margin-left: 40px;
    }
    .social {
        width: 56px;
        height: 56px;
    }
}
@media (min-width: 1199px) {
    .social__block {
        flex-direction: row;
    }
    .social__text_block {
        margin-top: 0;
    }
}
/* questions__block */

.questions__block {
    display: flex;
    flex-direction: column;
    margin-top: 40px;  
}
.questions__title {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    color: #1A1A1A;
    text-align: center;
    margin-bottom: 32px;
}
.questions__block .owl-carousel {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    box-sizing: border-box;
    position: relative;
}

.img_text_block {
    flex-direction: row;
}
.carousel-item p {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #1A1A1A;
    padding: 16px 0 0 16px;
}
.carousel-item .style_text {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #949494;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}
.text__box {
    display: flex;
    flex-direction: column;
}
#owl-carousel-1 .carousel-item img {
    width: 104px;
    height: 160px;
}

@media (min-width: 769px) {
    .questions__title {
        font-size: 40px;
    }
    .questions__block {
        margin-top: 82px;
    }
}

/* reference__block */

.reference__block {
    display: block;
    margin-top: 40px;
}
.reference__title {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120%;
    color: #1A1A1A;
    text-align: center;
    margin-bottom: 32px;
}
.accordion__block {
    display: flex;
    flex-direction: column;
}
.accordion {
    width: 100%;
    background-image: url('./images/Vector.svg');
    background-repeat: no-repeat;
    background-position: 98% center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}
.activeAcc {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url('./images/Vector.svg');
    background-repeat: no-repeat;
    background-position: 98% center;
    margin-bottom: 0;
}
.accordion__link {
    display: flex;
    flex-direction: column;
}
.accordion__link span {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #1A1A1A;
}
.accordion__link .accordion__link_text {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    color: #949494;
    width: 381px;
    padding-top: 4px;
}
.panel {
    display: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 20px;
    margin-bottom: 12px;
}
.panel p {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    color: #949494;
}

@media (max-width: 768px) {
    .accordion {
        width: 355px;
    }
    .panel {
        width: 355px;
    }
    .accordion__block {
        align-items: center;
    }
    .accordion__link .accordion__link_text {
        width: auto;
    }
}
@media (min-width: 769px) {
    .reference__title {
        font-size: 40px;
    }
    .reference__block {
        margin-top: 80px;
    }
}

/* delivery page */
.page {
    max-width: 1280px;
}
.box {
    margin: 40px;
}
.article {
    display: flex;
    flex-direction: column;
}
.article__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}
.article__title {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: #1A1A1A;
}
.share__icon {
    margin-left: 15px;
}
.article__content {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: #1A1A1A;
}
.contact__block {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.contact_title {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    color: #1A1A1A;
    margin-bottom: 16px;
}
.button__block {
    display: flex;
}
.button__chat {
    width: 224px;
    height: 48px;
    background: #36BA5F;
    border-radius: 12px;
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    background-image: url('./images/icon_chat.svg');
    background-repeat: no-repeat;
    background-position: 45px center;
    margin-right: 8px;
}
.button__phone {
    width: 48px;
    height: 48px;
    background: #F9F9F9;
    border-radius: 12px;
    background-image: url('./images/icon_phone.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}
.button__email {
    width: 48px;
    height: 48px;
    background: #F9F9F9;
    border-radius: 12px;
    background-image: url('./images/icon_email.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}

@media (max-width: 413px) {
    .button__chat {
        background-position: 29px center;
    }
}
@media (min-width:769px) {
    .article__content {
        width: 690px;
    }
}

.owl-nav {
    position: absolute;
    top: 63px;
    right: 0;
}
.owl-prev {
    display: none;
}
#owl-carousel-1 .owl-next {
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgb(0 0 0 / 9%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url('./images/Vector_owl.svg');
    background-position: center;
    background-repeat: no-repeat;
}
#owl-carousel-1 .owl-next span {
    display: none;
}